h1{
    color:#941313;
}
.form-group{
    margin:50px;
    padding:10px;
}
#answer{
    padding :10px;
}
#description{
    padding :10px;
    
}
.addAnswer{
    background-color:#941313;
	color:#fff !important; 
}
