.headerArea {
	border-bottom: 1px solid #eff0f1;
	padding: 10px 0px;
	color:#941313;
}

.questionCard {
	border-bottom: 1px solid #eff0f1;
	padding: 15px 0;
	

}
.container{
	justify-content: center;
}