.headerArea {
	border-bottom: 1px solid #eff0f1;
	padding: 10px 0px;
}

.answersHeader {
	border-bottom: 1px solid #eff0f1;
	padding: 5px 0;
}

.addAnswer {
    background-color:#941313;
	color:#fff !important;
}

.answerItem {
    padding:15px 0;
    border-bottom: 1px solid #eff0f1;
}

p{
    margin:20px;
    padding:5px;
}
h2{
    margin:20px;
    padding:5px;
}
.alert-success{
    margin:20px;
    padding:10px;
    width:200px;
    height:50px;
}
.btn{
    margin:20px;
    padding:5px;
}
.badge{
    margin:20px;
    padding:5px;
    width:150px;
    height:40px;
}

.commentBorder {
    margin-top:15px;
    border-top: 1px solid #eff0f1;
}
.commentItem{
    padding-top:10px;
    font-size: 17px;
}

.commentUserDetails {
    font-style: italic;
    font-size: 15px;
}