h1{
    color:#941313;
    margin:20px;
    padding:5px;
}
p{
    margin:20px;
    padding:5px;
}
h2{
    margin:20px;
    padding:5px;
}
.alert-success{
    margin:20px;
    padding:10px;
    width:200px;
    height:50px;
}
.card{
    margin:20px;
    padding:5px;
}
.btn{
    margin:20px;
    padding:5px;
}
.badge{
    margin:20px;
    padding:5px;
    width:150px;
    height:40px;
}
